.jumbotron .container .top-header { padding-top: 25px;}

#footer {text-align: center; padding-top: 50px;}

.bordered {padding:10px;}

.searchresult { padding: 10px; }
.searchresult:hover { background-color: #eee; }