{% extends "base.html" %}


{% block HeadCSS %}

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jobsapp/css/custom.css">

{% endblock %}


{% block Content %}


<div class="container">
    <p>This site is a frontend for a <a href="http://search.digitalgov.gov/developer/jobs.html">job site</a> provided by the US Federal government. All postings are sourced straight from there.</p>
    
    <p>To give feedback, feel free to contact me on <a href="http://bugsnpieces.blogspot.com">my blog</a>.</p>
    
</div>

{% endblock %}