{% extends "base.html" %}

{% block HeadCSS %}

    <!-- Custom styles for this template -->
    <link href="/staticfiles/GreaterGood/css/cover.css" rel="stylesheet"> 

{% endblock %}

{% block Nav %}

{% endblock %}

{% block Content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Jaza'a</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Coming Soon</h1>
            <p class="lead">Giving donors the means to conveniently and sustainably support Islamic charitable
            organizations.</p>
            <p class="lead">
              <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
              <a href="#" class="btn btn-lg btn-default">Sign Up</a>
            </p>
            <p class="lead">
              <a href="http://www.facebook.com/razhar786" target="_blank">
                <img src="/staticfiles/GreaterGood/images/facebook.png" />
              </a>
              <a href="http://www.twitter.com/mkaziz" target="_blank">
                <img src="/staticfiles/GreaterGood/images/twitter.png" />
              </a>
              <a href="https://plus.google.com/+AddyOsmani/" target="_blank">
                <img src="/staticfiles/GreaterGood/images/googleplus.png" />
              </a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
             <p>Built with &lt3 in Chicago</p>
            </div>
          </div>

        </div>

      </div>
{% endblock%}