{% extends "base.html" %}

{% block HeadCSS %}

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jobsapp/css/custom.css">

{% endblock %}


{% block Content %}

<div class="container">
   <div class="row">
      <div class="col-lg-6">
         <div class="well bs-component">
            <form class="form-horizontal" action="search" method="post">
              {% csrf_token %} 
               <fieldset>
                  <legend>Search for jobs with the US Federal Government!</legend>
                  <div class="form-group">
                     <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="eg. Nursing">
                     </div>
                     <a class="btn btn-link">More Options +</a>
                  </div>
                  <div class="form-group">
                     <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                           <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                     </div>
               </fieldset>
            </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
  
  <div class="mastfoot">
    <div class="inner">
      <p>Built with &lt3 in Chicago</p>
      <p><a href="#">Donate</a></p>
    </div>
  </div>

</div>

{% endblock%}