<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
         <div class="well bs-component">
            <form class="form-horizontal" action="search" method="post">
              {% csrf_token %} 
               <fieldset>
                  <legend>Search for jobs with the US Federal Government!</legend>
                  <div class="form-group">
                    
                    <div class="col-lg-12">
                      <input type="text" class="form-control" id="inputQuery" name="query" placeholder="eg. Nursing" value="{{query}}" />
                      <!--<a class="btn btn-link">More Options +</a>-->
                    </div>
                  </div>
                  <div class="form-group">
                     <div class="col-lg-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                     </div>
                  </div>
               </fieldset>
            </form>
            </div>
         </div>
      </div>
   </div>
</div>